body{
    padding: 30px;
    background-color: #EFFFC8;
    font-family: monospace;
}

img{
    width: 100%;
    height: 100%;
}

.nav__list.li ul{
    padding-inline-start: 0;
}

.header{
    background-color: #85CB33;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav__list{
    display: flex;
    margin-top: 25px;
}

.logo__img{
    max-width: 125px;
    margin-left: 10px;
    filter: drop-shadow(5px 5px 3px grey);
}

.nav__list li{
    list-style:none;
    margin: 0 0 0 40px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.title{
    color: #85CB33;
}

.gallery-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.item__photo{
    width: 500px;
    height: 330px;
    margin: 0 20px 20px 0;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: monospace;
}