@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

body{
    padding: 30px;
    background-color: #EFFFC8;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.nav__list.li ul{
    padding-inline-start: 0;
}

.header{
    background-color: #85CB33;
    border-radius: 15px;
    padding: 7px;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 125px;
    margin-left: 10px;
    filter: drop-shadow(5px 5px 3px grey);
}

.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav__list li{
    float: left;
    list-style:none;
    margin: 0 0 0 40px;
}

.nav__list__text{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav__list__text:hover{
    border-radius: 15px;
    background-color: #558321;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.title{
    color: #85CB33;
}

.text{
    font-size: 110%;
}

.gallery-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.item__photo{
    width: 500px;
    height: 330px;
    margin: 0 20px 20px 0;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}